body {
  overflow-x: hidden;
  font-family: "Lato", sans-serif; }

.sidemenu-icon {
  display: inline-block;
  cursor: pointer;
  z-index: 3;
  position: absolute;
  top: 6px;
  left: 10px;
  visibility: hidden; }

.bar1 {
  width: 30px;
  height: 4px;
  background-color: #fff;
  margin: 6px 0;
  transition: 0.4s;
  border-radius: 10px; }

.bar2 {
  width: 30px;
  height: 4px;
  background-color: #fff;
  margin: 6px 0;
  transition: 0.4s;
  border-radius: 10px; }

.bar3 {
  width: 30px;
  height: 4px;
  background-color: #fff;
  margin: 6px 0;
  transition: 0.4s;
  border-radius: 10px; }

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
  background-color: #fff; }
.change .bar2 {
  opacity: 0; }
.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -5px);
  background-color: #fff; }

.sidenav {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 2;
  top: 50px;
  left: -105%;
  background: #0f0c29;
  background: -webkit-linear-gradient(to right, #004085, #007bff, #17a2b8);
  background: linear-gradient(to right, #004085, #007bff, #17a2b8);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 40px;
  text-align: center;
  box-shadow: 1px 1px 10px #0773ef80; }
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #fff;
    display: block;
    transition: 0.5s;
    border-bottom: 1px solid #0773ef80; }
    .sidenav a i {
      padding: 0 0 0 10px; }
    .sidenav a:hover {
      color: #fff; }
  .sidenav a.hide {
    display: none; }
  .sidenav .user a {
    background: transparent; }
  .sidenav.width-toggle {
    left: 0; }

.navigation {
  padding: 15px 0 15px 0;
  background: #0f0c29;
  background: -webkit-linear-gradient(to right, #004085, #007bff, #17a2b8);
  background: linear-gradient(to right, #004085, #007bff, #17a2b8); }
  .navigation .list ul {
    display: flex;
    list-style: none;
    margin-bottom: 0;
    padding: 0 0 0 0;
    float: right; }
    .navigation .list ul li {
      padding: 0 10px 0 10px; }
  .navigation a.login {
    text-decoration: none;
    color: #fff;
    background: #0669d8;
    padding: 10px 30px 10px 30px;
    border-radius: 3px;
    transition: 0.6s; }
    .navigation a.login:hover {
      background: #fff;
      color: #403973; }
  .navigation a.signup {
    text-decoration: none;
    color: #fff;
    border: 1px solid #00b1da;
    padding: 10px 30px 10px 30px;
    border-radius: 3px;
    transition: 0.6s; }
    .navigation a.signup:hover {
      background: #139dc1;
      color: #fff; }
  .navigation .logo h4 {
    margin-bottom: 0;
    color: #fff;
    font-weight: 800; }
  .navigation a i {
    padding: 0 0 0 10px; }
  .navigation .logo-mobile {
    display: none; }
    .navigation .logo-mobile h4 {
      text-align: center; }

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px; }
    .sidenav a {
      font-size: 18px; } }
@media only screen and (max-width: 768px) {
  .sidemenu-icon {
    visibility: visible; }

  .navigation {
    height: 50px; }
    .navigation .navigate {
      display: none; }
    .navigation .logo-mobile {
      display: block; } }

/*# sourceMappingURL=styling.css.map */
