body {
  overflow-x: hidden;
  font-family: "Lato", sans-serif; }

a {
  text-decoration: none; }

.sidemenu-icon {
  display: inline-block;
  cursor: pointer;
  z-index: 3;
  position: absolute;
  top: 6px;
  left: 10px;
  visibility: hidden; }

.bar1 {
  width: 30px;
  height: 4px;
  background-color: #fff;
  margin: 6px 0;
  transition: 0.4s;
  border-radius: 10px; }

.bar2 {
  width: 30px;
  height: 4px;
  background-color: #fff;
  margin: 6px 0;
  transition: 0.4s;
  border-radius: 10px; }

.bar3 {
  width: 30px;
  height: 4px;
  background-color: #fff;
  margin: 6px 0;
  transition: 0.4s;
  border-radius: 10px; }

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
  background-color: #fff; }
.change .bar2 {
  opacity: 0; }
.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -5px);
  background-color: #fff; }

.sidenav {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 2;
  top: 50px;
  left: -105%;
  background: #0f0c29;
  background: -webkit-linear-gradient(to right, #004085, #007bff, #17a2b8);
  background: linear-gradient(to right, #004085, #007bff, #17a2b8);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 40px;
  text-align: center;
  box-shadow: 1px 1px 10px #0773ef80; }
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #fff;
    display: block;
    transition: 0.5s;
    border-bottom: 1px solid #0773ef80; }
    .sidenav a i {
      padding: 0 0 0 10px; }
    .sidenav a:hover {
      color: #fff; }
  .sidenav a.hide {
    display: none; }
  .sidenav .user a {
    background: transparent; }
  .sidenav.width-toggle {
    left: 0; }

.navigation {
  padding: 15px 0 15px 0;
  background: transparent;
  position: fixed;
  width: 100%;
  top: 0; }
  .navigation .list ul {
    display: flex;
    list-style: none;
    margin-bottom: 0;
    padding: 0 0 0 0;
    float: right; }
    .navigation .list ul li {
      padding: 0 10px 0 10px; }
  .navigation a.login {
    text-decoration: none;
    color: #fff;
    background: #0669d8;
    padding: 10px 30px 10px 30px;
    border-radius: 3px;
    transition: 0.6s; }
    .navigation a.login:hover {
      opacity: 0.9; }
  .navigation a.signup {
    text-decoration: none;
    color: #fff;
    background: #139dc1;
    border: 1px solid #00b1da;
    padding: 10px 30px 10px 30px;
    border-radius: 3px;
    transition: 0.6s; }
    .navigation a.signup:hover {
      opacity: 0.9; }
  .navigation .logo h4 {
    margin-bottom: 0;
    color: #fff;
    font-weight: 800; }
  .navigation a i {
    padding: 0 0 0 10px; }
  .navigation .logo-mobile {
    display: none; }
    .navigation .logo-mobile h4 {
      text-align: center; }
  .navigation .navigate {
    padding: 15px 40px 15px 40px; }

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px; }
    .sidenav a {
      font-size: 18px; } }
@media only screen and (max-width: 768px) {
  .sidemenu-icon {
    visibility: visible; }

  .navigation {
    height: 50px; }
    .navigation .navigate {
      display: none; }
    .navigation .logo-mobile {
      display: block; } }
.slider {
  width: 100%;
  height: 100vh;
  background: linear-gradient(to right, #004085, #007bff, #17a2b8);
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  position: relative; }
  .slider .shade {
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #004085, #007bff, #17a2b8);
    opacity: 0.4; }

.search-area {
  position: absolute;
  top: 30%;
  left: 10%;
  width: 30%;
  background: #fff;
  padding: 40px;
  border-radius: 5px; }
  .search-area .head {
    color: #484848;
    font-size: 30px;
    font-weight: 800;
    padding: 0 0 10px 0; }
  .search-area label {
    color: #484848;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 13px; }
  .search-area input {
    width: 100%;
    padding: 10px 20px 10px 20px;
    border-radius: 4px;
    border: 0;
    box-shadow: 0px 0px 10px #ececec;
    margin: 0 0 15px 0; }
    .search-area input:focus {
      outline: none; }
    .search-area input::placeholder {
      color: #484848;
      opacity: 0.5; }
  .search-area button {
    text-decoration: none;
    color: #fff;
    background: #0669d8;
    padding: 10px 30px 10px 30px;
    border-radius: 3px;
    transition: 0.6s;
    border: 0;
    cursor: pointer; }
    .search-area button:hover {
      opacity: 0.9; }

.console-area {
  text-align: center;
  padding: 5px 30px 5px 30px;
  border: 1px solid #ececec;
  border-radius: 30px;
  margin: 0 0 30px 0; }
  .console-area .item {
    display: inline-block;
    padding: 5px 30px 5px 30px;
    cursor: pointer;
    transition: 0.4s; }
    .console-area .item:hover {
      color: #fff;
      background: #0669d8;
      border-radius: 20px; }

/*# sourceMappingURL=styling.css.map */
