body {
  overflow-x: hidden;
  font-family: "Lato", sans-serif; }

a {
  text-decoration: none; }

.sidemenu-icon {
  display: inline-block;
  cursor: pointer;
  z-index: 3;
  position: absolute;
  top: 6px;
  left: 10px;
  visibility: hidden; }

.bar1 {
  width: 30px;
  height: 4px;
  background-color: #fff;
  margin: 6px 0;
  transition: 0.4s;
  border-radius: 10px; }

.bar2 {
  width: 30px;
  height: 4px;
  background-color: #fff;
  margin: 6px 0;
  transition: 0.4s;
  border-radius: 10px; }

.bar3 {
  width: 30px;
  height: 4px;
  background-color: #fff;
  margin: 6px 0;
  transition: 0.4s;
  border-radius: 10px; }

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
  background-color: #fff; }
.change .bar2 {
  opacity: 0; }
.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -5px);
  background-color: #fff; }

.sidenav {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 2;
  top: 50px;
  left: -105%;
  background: #fff;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 40px;
  text-align: center;
  box-shadow: 1px 1px 10px #f3f3f3; }
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #484848;
    display: block;
    transition: 0.5s;
    border-bottom: 1px solid #f3f3f3; }
    .sidenav a i {
      padding: 0 0 0 10px; }
    .sidenav a:hover {
      color: #fff; }
  .sidenav a.hide {
    display: none; }
  .sidenav .user a {
    background: #f9f9f9; }
  .sidenav.width-toggle {
    left: 0; }

.navigation {
  padding: 15px 0 15px 0;
  background: transparent;
  position: fixed;
  width: 100%;
  top: 0; }
  .navigation .list ul {
    display: flex;
    list-style: none;
    margin-bottom: 0;
    padding: 0 0 0 0;
    float: right; }
    .navigation .list ul li {
      padding: 0 10px 10px 10px; }
      .navigation .list ul li a {
        text-decoration: none;
        color: #fff;
        font-weight: 600; }
      .navigation .list ul li:hover {
        border-bottom: 2px solid #fff; }
  .navigation .logo h4 {
    margin-bottom: 0;
    color: #fff;
    font-weight: 800; }
  .navigation a i {
    padding: 0 0 0 10px; }
  .navigation .logo-mobile {
    display: none; }
    .navigation .logo-mobile h4 {
      text-align: center; }
  .navigation .navigate {
    padding: 15px 40px 15px 40px; }

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px; }
    .sidenav a {
      font-size: 18px; } }
@media only screen and (max-width: 768px) {
  .sidemenu-icon {
    visibility: visible; }

  .navigation {
    height: 50px; }
    .navigation .navigate {
      display: none; }
    .navigation .logo-mobile {
      display: block; } }
.slider {
  width: 100%;
  height: 100vh;
  background: linear-gradient(to right, #004085, #007bff, #17a2b8);
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  position: relative; }
  .slider .shade {
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #004085, #007bff, #17a2b8);
    opacity: 0.4; }

.search-area {
  position: absolute;
  top: 35%;
  width: 100%;
  padding: 0 5% 0 5%; }
  .search-area h1 {
    font-size: 50px;
    color: #fff;
    font-weight: 800; }
  .search-area .searches {
    display: flex; }
    .search-area .searches input, .search-area .searches select {
      padding: 20px;
      border: 0;
      background-color: #fff;
      border-left: 1px solid #ccc;
      font-size: 15px; }
      .search-area .searches input:focus, .search-area .searches select:focus {
        outline: none; }
    .search-area .searches .game {
      width: 50%;
      border-radius: 5px 0 0 5px; }
    .search-area .searches .location-area {
      position: relative;
      width: 20%; }
      .search-area .searches .location-area .location {
        width: 100%;
        border-radius: 0 5px 5px 0; }
      .search-area .searches .location-area a {
        position: absolute;
        top: 30%;
        right: 10%; }
    .search-area .searches .custom-dropdown {
      position: relative; }
      .search-area .searches .custom-dropdown input {
        width: 100%; }
      .search-area .searches .custom-dropdown ul {
        margin-bottom: 0;
        padding-left: 0;
        list-style: none;
        width: 100%;
        position: absolute;
        background-color: #fff;
        border-top: 1px solid #ccc;
        display: none; }
        .search-area .searches .custom-dropdown ul li {
          padding: 10px;
          cursor: pointer; }
          .search-area .searches .custom-dropdown ul li:hover {
            background-color: #eaeaea; }
      .search-area .searches .custom-dropdown.show ul {
        display: block; }
    .search-area .searches .custom-dropdown {
      width: 20%; }
    .search-area .searches .search-btn {
      background: #FF5A5F;
      color: #fff;
      border: 0;
      border-radius: 5px;
      margin: 0 0 0 10px; }

/*# sourceMappingURL=styling.css.map */
