/* PLACE YOUR CUSTOM STYLES IN THIS FILE */

.angled-img
{
    margin: 0px 20px 0 20px;
}

.content-wrap.content-wrap-modified
{
    max-width: 100%;
}

.container.container-modified
{
    width: 95%;
}